@model ASP.NET_FinalTermExam.Models.Order
@{
    ViewBag.Title = "管理";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<h2>訂單查詢</h2>
@using (Html.BeginForm("Index", "Order", FormMethod.Post, new { id = "Form1" }))
{
    <div id="SearchConditionSection">
        <form>
            <table class="table table-bordered">
                <tr>
                    <td>客戶編號</td>
                    <td colspan="3">
                        @Html.TextBoxFor(model => model.CustID)
                    </td>
                </tr>
                <tr>
                    <td>客戶名稱</td>
                    <td colspan="3">
                        @Html.TextBoxFor(model => model.CustName)

                    </td>
                </tr>
                <tr>
                    <td>聯絡人姓名</td>
                    <td colspan="3">
                        @Html.TextBoxFor(model => model.ContactName)
                    </td>
                </tr>
                <tr>
                    <td>聯絡人職稱</td>
                    <td colspan="3">
                        @Html.DropDownListFor(Model => Model.ContactTitle, (List<SelectListItem>)ViewData["Dropship"])
                    </td>
                </tr>                
                <tr>
                    <td></td>
                    <td colspan="3">
                        <input type="submit" value="查詢" />
                        <input type="reset" value="清除" />
                        <input type="button" value="新增客戶" />
                        @Html.ActionLink("新增訂單", "InsertOrder")
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div id="SearchResultSection">

        @if (ViewBag.order != null)
        {
            <table class="table table-bordered table-striped">
                <tr>
                    <td>編號</td>
                    <td>名稱</td>
                    <td>聯絡人姓名</td>
                    <td>聯絡人職稱</td>
                    <td></td>
                    <td></td>
                </tr>
                @foreach (var item in (List<ASP.NET_FinalTermExam.Models.Order>)ViewBag.order)
                    {
                    <tr id='@item.OrderID'>
                        <td>@item.OrderID</td>
                        <td>@item.CustName</td>
                        <td>@item.ContactName</td>
                        <td>@item.ContactTitle</td>
                        <td>@Html.ActionLink("修改", "Update", new { id = item.OrderID })</td>
                        <td>
                            <input class="btnDelete" type="button" value='刪除' />
                        </td>

                    </tr>
                }

            </table>
        }


    </div>
}
